In [1]:
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option('max_rows', 8)
pd.set_option('max_columns', 33)
pd.options.display.float_format = '{0:.2f}'.format

In [3]:
# import danych
data = pd.read_csv('dane/churn.csv', decimal=',')

In [4]:
print(data['Promotion'].value_counts().to_string())
print()
print(data['Region'].value_counts().to_string())
print()
print(data['Cancelled'].value_counts().to_string())

0    11810

5    1960
4    1420
7    1320
3    1300
8    1240
2    1070
6    1050
9    1000
1     850
0     580
F      20

0    11571
1      239

In [5]:
data = data.drop('ID', axis=1)
# Promotion posiadała tylko jedną wartość
data = data.drop('Promotion', axis=1)
# data.drop(data[data['Region'] == 'F'].index)
data

,"Churn (1=yes, 0=No)",Profit,Age,Cancelled,Months since start,Way of payment,Region,Profit segment,Sex,Tariff model,Academic title,Revenue from calls (3 months ago),Fixed revenue (3 months ago),Revenue from roaming (3 months ago),Total revenue (3 months ago),Airtime to data service (1 month ago),Airtime incoming (1 month ago),Airtime to mobile (1 month ago),Calls to data service (3 months ago),Calls incoming (3 months ago),Calls roaming (3 months ago)
0,0,25.41,21,0,14,Standing Order,0,D,Female,5,0,7.83,0.00,0.00,7.83,0.00,1105.41,439.86,0,75,0
1,1,572.11,29,0,26,Standing Order,7,B,Male,8,0,436.53,0.00,0.00,436.53,0.00,54991.23,44696.35,0,199,3
2,0,57.46,20,0,10,Standing Order,1,D,Female,5,0,69.88,28.12,0.00,98.00,0.00,684.39,651.22,0,54,0
3,1,292.60,47,1,29,Standing Order,5,A,Male,18,0,419.52,62.60,0.00,482.12,0.00,12523.26,4837.45,0,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11806,0,12.48,29,0,10,Standing Order,2,D,Male,5,0,5.66,30.71,0.00,36.37,0.00,7.01,0.00,0,3,0
11807,0,62.90,29,0,33,Standing Order,8,D,Male,5,0,51.29,28.12,0.00,79.41,0.00,191.59,424.00,0,14,0
11808,0,2.46,25,0,10,Standing Order,2,D,Female,5,0,23.47,4.89,0.00,28.36,0.00,155.68,90.85,0,1,0
11809,1,265.83,20,0,7,Standing Order,0,E,Male,16,0,38.35,28.12,0.00,66.47,0.00,19145.34,3600.64,0,76,0

In [6]:
col_label = [c for c in data.columns if data[c].dtype == 'object']
col_numerical = [c for c in data.columns if not data[c].dtype == 'object']

change = ['Cancelled', 'Tariff model', 'Academic title']
col_label.extend(change)
col_numerical.remove('Churn (1=yes, 0=No)')
col_numerical = [c for c in col_numerical if not c in change]


col_label
col_numerical

['Profit',
 'Age',
 'Months since start',
 'Revenue from calls (3 months ago)',
 'Fixed revenue (3 months ago)',
 'Revenue from roaming (3 months ago)',
 'Total revenue (3 months ago)',
 'Airtime to data service (1 month ago)',
 'Airtime incoming (1 month ago)',
 'Airtime to mobile (1 month ago)',
 'Calls to data service (3 months ago)',
 'Calls incoming (3 months ago)',
 'Calls roaming (3 months ago)']